@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.wrapper {
		@apply flex items-center justify-between max-w-screen-xl mx-auto;
	}

	.image-wrapper {
		box-sizing: content-box;
	}

	.image-wrapper > div {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
	}
}
